@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


/* GENERAL STYLES */
body {
	font-family: 'Inter', sans-serif; font-size:14px; margin-top:0;
	background-color: #fffbf5;
	padding-left: 10%;
	padding-right: 10%;
	padding-top:20px;
	display: flex;
	flex-direction: column;
}

h2 {
	font-size: 48px;
	font-family: 'Instrument Serif', serif;
	color: #174888; 
}

h3 {
	font-size: 18px;
	color:#FA9BBC;
	font-weight: 500;
}

p {
	font-size: 14px;
}

/* SIZE CHART */
th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
}

/* BUTTON */
.button {
	background-color: #174888; /* Nueva Blue */
	border: none;
	color: white;
	padding: 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: 'Inter';
	font-size: 14px;
	border-radius: 8px;
}

.button:hover {
  background-color: #04AA6D; /* Green */
  color: white;
}

/* IMAGES SIDE BY SIDE: Three image containers (use 25% for four, and 50% for two, etc) */
.row {
	float:center;
}

.column {
  float: left;
  width: 45%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}


/* IMAGE SLIDER 
.slider {
	width: 100%;
	height: 650px;
	position: relative;
	float: right;
}

.slider img {
	width: 100%;
	height: 600px;
	position: absolute;
	top:0;
	left:0;
}

.slider img:first-child {
	z-index:1;
}

.slider img:nth-child(2) {
	z-index:0;
} */

/* NAVIGATION DOTS */
.navigation-button {
	text-align: center;
	position: relative;
}

.dot{
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 0%;
	display: inline-block;
}

.active,
.dot:hover {
	background-color: #717171;
}

/* UNCLICKED LINK https://www.bannerbear.com/blog/how-to-create-an-image-slider-in-html-css-and-javascript/ */ 
a:link {
	color: #174888;
}

/* CLICKED LINK */
a:visited {
	color: #174888;
}

/* HOVER LINK */
a:hover {
	color: #04AA6D;
}

/* SELECTED LINK */
a:active {
	color: #174888;
}

/* FOOTER */
footer{
	background-color: #fffbf5
  position: fixed;
  clear:both;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  width:100%;
  margin-top: auto;

.footer-left {display: inline-block;}
.footer-right {display: inline-block; float: right}

.contact {
	font-size:14px;
}

.credit {
	font-size: 14px;}
}


